body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    text-align: center;
}

.logo-img {
    width: 150px;
    margin-bottom: 30px;
}

.login-box {
    background-color: #e2e2e2;
    padding: 40px;
    border-radius: 10px;
    display: inline-block;
}

.input-field {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.login-button {
    width: 100%;
    padding: 15px;
    background-color: #999;
    border-radius: 5px;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 15px;
}

.forgot-options {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin-bottom: 15px;
}

.register-link {
    font-size: 14px;
}
